public/*
.next
yarn.lock
.gitignore
.prettierignore
.gitattributes
coverage
.tsBuildInfoFile
vite.config.mts
vitest.config.mts
vitest.setup.ts
next.config.js
tailwind.config.ts
postcss.config.js
next-env.d.ts
playwright.config.ts
playwright-report
prettier.config.js
